@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.menu li a {
  font-size: 18px;
  font-weight: 500;
}

.CodeMirror{
  background-color: var(--tw-base-100) !important;
  color:var(--tw-neutral) !important;
}