@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply px-7 md:px-10 2xl:p-0;
  }

  .flex-center {
    @apply flex flex-col justify-center items-center;
  }

  .read-more {
    @apply flex align-middle justify-center gap-1 text-xl bg-gradient-to-br from-secondary to-primary text-white px-6 py-3 rounded-3xl hover:bg-gradient-to-br hover:from-accent hover:to-primary duration-300 w-fit;
  }

  .Titr {
    @apply text-3xl font-semibold text-secondary m-4 ml-0 mb-7 w-fit border-b-4 rounded-full border-primary pb-3 px-4;
  }

  .image-border {
    @apply relative mx-5 before:-z-10 before:border-8 before:border-primary  before:-translate-x-5 before:translate-y-5 before:absolute before:left-0 before:top-0 before:h-full before:w-full before:rounded-lg;
  }

  .image-border-img {
    @apply hover:-translate-x-5 hover:translate-y-5 duration-500 rounded-lg;
  }

  .custom-form-input {
    @apply w-full md:w-1/3 input input-bordered border-primary flex items-center gap-2 hover:input-bordered hover:border-primary;
  }

  .translate-hover {
    @apply duration-300 hover:-translate-y-2
  }

  .custom-four-color {
    @apply bg-primary [&:nth-child(2n)]:bg-secondary [&:nth-child(3n)]:bg-neutral [&:nth-child(4n)]:bg-accent
  }

  .remove-bg {
    background: none !important;
  }

  .btn.btn-disabled, .btn[disabled], .btn:disabled {
    @apply  bg-error hover:bg-error bg-opacity-50 hover:bg-opacity-50 text-inherit hover:text-inherit  cursor-not-allowed pointer-events-auto
  }

  .table td {
    @apply text-lg
  }

  .table-striped tbody tr {
    @apply  [&:nth-child(even)]:bg-base-200 [&:nth-child(even)]:bg-opacity-10
  }

  .table-hover tbody tr {
    @apply hover:bg-base-200 hover:bg-opacity-20
  }

  .thead-primary thead tr th{
    @apply py-6 text-xl text-secondary bg-primary
  }
  

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  section {
    @apply my-14;
  }

  ul {
    @apply pl-5 my-5;
  }

  li {
    @apply font-medium;
  }

  li::marker {
    @apply text-secondary;
  }

  .menu li a {
    @apply text-xl active:text-secondary focus:text-secondary active:bg-transparent !important ;
  }
}

.CodeMirror {
  background-color: var(--tw-base-100) !important;
  color: var(--tw-neutral) !important;
}
